{% extends "base.html" %}
{% from "form-macros.html" import render_field %}

{% block page_title %}
Recipe Application
{% endblock %}

{% block h1_Description %}
Add a new recipe!
{% endblock %}

{% block h1_Content %}
Fill in all the required information about the recipe you wish to add.
{% endblock %}

{% block h2_Description %}
Separate ingredients and instructions by putting each item on a new line
{% endblock %}

{% block h2_Content %}
<section>
    <form action="" enctype="multipart/form-data" method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-6">
                <h3>MPG Form</h3>
                <table>
                    {{ render_field(form.recipe_name, size=20) }}
                    {{ render_field(form.recipe_img, size=20) }}
                    {{ render_field(form.recipe_ingredients, size=20) }}
                    {{ render_field(form.recipe_serving, size=20) }}
                    {{ render_field(form.recipe_instructions, size=20) }}
                </table>
            </div>
            <table>
                <tr class="submit">
                    <td></td>
                    <td>
                        <button type="submit">Add Recipe</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</section>
{% endblock %}