{% extends "base.html" %}

{% block page_title %}
Recipe Application
{% endblock %}

{% block h1_Description %}
Welcome to the Recipe Storage Centre!
{% endblock %}

{% block h1_Content %}
This website is used to catalog interesting recipes for easy access when you wish to cook.
{% endblock %}

{% block h2_Description %}
Use the links above to navigate the website
{% endblock %}

{% block h2_Content %}
You can search our currently stored recipes, you can add your own, and you can delete recipes that are currently stored.
{% endblock %}