{% extends "base.html" %}

{% block page_title %}
Recipe Application
{% endblock %}

{% block h1_Description %}
{% endblock %}

{% block h1_Content %}
{% endblock %}

{% block h2_Description %}
{% endblock %}

{% block h2_Content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='image_dir/{}'.format(recipe.img)) }}"
                 style="max-width: 50%; height: auto;">
        </div>
        <div class="col-md-8">
            <h4 class="font-weight-bold mb-0">Recipe Name:
                <span class="text-muted font-weight-normal">{{ recipe['name'] }}</span></h4>
            <h4 class="font-weight-bold mb-0">Ingredients:</h4>
            <ul style="list-style-type: none;">
                {% for i in recipe.ingredients.split("\r\n") %}

                <li>{{ i }}</a></li>

                {% endfor %}
            </ul>
            <h4 class="font-weight-bold mb-0">Serving size:
                <span class="text-muted font-weight-normal">{{ recipe.serving }} people</span></h4>
            <h4 class="font-weight-bold mb-0">Instructions:</h4>
            <ul style="list-style-type: none;">
                {% for i in recipe.instructions.split("\r\n") %}

                <li>{{ i }}</a></li>

                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
